torch==2.4.1
torchaudio==2.4.1
packaging
jinja2
openai-whisper
jsonlines
pandas
validators
megfile
sty
editdistance
zhconv
matplotlib
scikit-image
librosa
accelerate
aiohttp
colorama
peft
onnxruntime-gpu==1.20.2
omegaconf==2.3.0
funasr
sox
six==1.16.0
hyperpyyaml
conformer==0.3.2
diffusers
pillow
sentencepiece
easydict
fire
deepspeed
ujson
opencv-python
imagesize
cairosvg
qa-metrics==0.2.32
nltk==3.9.1
streamlit==1.39.0
langdetect
immutabledict
qwen_omni_utils
rich
wget
gdown
datasets
torchdyn==1.0.6
huggingface_hub
loguru
tqdm
decord
blobfile
timm
sacrebleu==1.5.1
absl-py 
datasets
